<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

  <div class = "row">
    <% @tweets.each_with_index do |tweet, i| %>
    <% if i%4==0 && i!=0 %>
      </div>
      <div class="row">
      <% end %>
    <div class = "col-md-3 card">
      <div class="card-body">
        <h3 class="card-title"> <%= link_to tweet.user.username, user_path(tweet.user) %> </h3>
        <p class="card-body"><%= tweet.content.html_safe %></h5>
          <br>
        <%= link_to 'Show', tweet, class: 'card-link' %>
        <%= link_to 'Edit', edit_tweet_path(tweet), class: 'card-link' %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>

        <% if user_signed_in? %>
          <% if !current_user.following.include?(tweet.user) && !(current_user == tweet.user) %>
        <%= link_to 'Follow User', follow_user_path(following_id: tweet.user.id), method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>


<br>

<%= link_to 'New Tweet', new_tweet_path %>
