<h1><%= @tag.phrase %></h1>

<div class = "row">
    <% @tag.tweets.each_with_index do |tweet, i| %>
    <% if i%4==0 && i!=0 %>
      </div>
      <div class="row">
      <% end %>
    <div class = "col-md-3 card">  
      <div class="card-body">
        <h3 class="card-title"> <%= link_to tweet.user.username, show_user_path(tweet.user) %> </h3>
        <p class="card-body"><%= tweet.content.html_safe %></h5>
        <%= link_to 'Show', tweet, class: 'card-link' %>
        <%= link_to 'Edit', edit_tweet_path(tweet), class: 'card-link' %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
      </div> 
    </div>
    <% end %>
  </div>